################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UserMaintenance/.vs/UserMaintenance/FileContentIndex/52e4c2a9-a626-4fcc-aa2f-4e86d8363876.vsidx
