################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UserMaintenance/.vs/UserMaintenance/FileContentIndex/52e4c2a9-a626-4fcc-aa2f-4e86d8363876.vsidx
/UserMaintenance/.vs/UserMaintenance/FileContentIndex/85df0a52-755e-4e2c-8351-7cc54741f7cf.vsidx
